#delete-user {
   width: 40%;
}

#add-user {
  .picker__date-display {
    display: none;
  }
  /* .picker__footer {
    display:none;
  } */
}
#table-content tr.bane {
  border-left : 5px solid #EF5350;
}
#generate-user-password {
  width: 25%;
}

#form-bane-users {
  width: 25%;
}

#generate-result {
  text-align: center;
  color: red;
}
