/* @import "_includes/reset.less"; */
@import url(https://fonts.googleapis.com/css?family=Lato:900);
.box_sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
.placeholder_hover :focus::-webkit-input-placeholder {
  color: transparent;
}
.placeholder_hover :focus::-moz-placeholder {
  color: transparent;
}
.placeholder_hover :focus:-moz-placeholder {
  color: transparent;
}
.placeholder_hover :focus:-ms-input-placeholder {
  color: transparent;
}
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
}
.fa-btn {
  margin-right: 6px;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 0;
  position: relative;
  padding: .1rem;
}
main #spinner {
  margin-left: 45vw;
  margin-top: -20vh;
  position: absolute;
  z-index: 1000;
}
nav {
  margin-bottom: 2rem;
}
.title-sort {
  display: inline-block;
  cursor: pointer;
}
.fixed-btn {
  bottom: 100px;
  right: 50px;
}
.text-right {
  text-align: right;
}
.form-error {
  color: #cf253a;
}
td,
th {
  text-align: center;
}
.login-page {
  font-family: 'Lato', sans-serif;
  background-color: #383838;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.login-page .login {
  width: 300px;
  background-color: #2b2b2b;
  padding: 4rem 2rem;
  margin-top: 20vh;
  margin: auto;
}
@media (max-width: 300px) {
  .login-page .login {
    width: 100%;
  }
}
.login-page .login .login__header {
  margin-bottom: 2rem;
}
.login-page .login .login__header .login__logo {
  text-align: center;
  margin-bottom: 1rem;
  color: #7c7c7c;
}
.login-page .login .login__header h5 {
  color: #7c7c7c;
  text-align: center;
  font-size: 0.8em;
}
.login-page .login .login__form input {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border: none;
  padding: .7rem .5rem;
  margin-bottom: .2rem;
  border: 0;
  outline: none;
  display: block;
  color: #dfe2e2;
  background-color: #3e3e3e;
}
.login-page .login .login__form input:last-of-type {
  margin-top: 1rem;
}
.login-page .login .login__form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #7c7c7c;
}
.login-page .login .login__form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7c7c7c;
}
.login-page .login .login__form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7c7c7c;
}
.login-page .login .login__form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #7c7c7c;
}
.login-page .login .login__form :focus::-webkit-input-placeholder {
  color: transparent;
}
.login-page .login .login__form :focus::-moz-placeholder {
  color: transparent;
}
.login-page .login .login__form :focus:-moz-placeholder {
  color: transparent;
}
.login-page .login .login__form :focus:-ms-input-placeholder {
  color: transparent;
}
.login-page .login .login__form #cin_error {
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding: 0.2rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  text-align: center;
  font-size: 0.7em;
  color: #cf253a;
}
.login-page .login .login__form .login__help {
  text-align: right;
}
.login-page .login .login__form .login__help a {
  font-size: 0.8em;
  color: #7c7c7c;
}
.login-page .login .login__form .login__help a:hover {
  color: #cf253a;
}
.login-page .login .login__form button {
  background-color: #cf253a;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: white;
  display: block;
  border: 0;
  outline: none;
  width: 100%;
  margin-top: 1rem;
  padding: .7rem .5rem;
  cursor: pointer;
}
.login-page .login .login__form button:hover {
  background-color: #de495b;
}
#delete-user {
  width: 40%;
}
#add-user .picker__date-display {
  display: none;
}
#add-user .picker__footer {
  display: none;
}
#table-content tr.bane {
  border-left: 5px solid #EF5350;
}
#generate-user-password {
  width: 25%;
}
#generate-user-password #generate-result {
  text-align: center;
  color: green;
}
.block-fleat {
  position: relative;
  padding: 1rem;
}
.block-fleat .fixed-action-btn.horizontal {
  position: absolute;
  display: inline-block;
  right: -7px;
  top: 7px;
}
.block-fleat .fixed-action-btn.horizontal ul {
  top: -2%;
}
#modal-form-events .picker__date-display {
  display: none;
}
#modal-form-events .picker__footer {
  display: none;
}
