html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
}

.fa-btn {
    margin-right: 6px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title-sort {
    display: inline-block;
    cursor: pointer;
}

.fixed-btn {
    bottom: 100px;
    right: 50px;
}

.text-right {
    text-align: right;
}

